.postShare_container{
    display: flex;
    gap: 1rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.postShare_container > img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 3rem;
    height: 3rem;

}

.postShare_container > div{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;

}

.postShare_container > div > input{
    background-color: var(--inputColor);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
}

.postShare_options{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.postShare_option{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

}

.postShare_option:hover{
    cursor: pointer;

}

.button_ps{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    
}

.preview_image{
    position: relative;

}

.preview_image > svg{
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;

}

.preview_image > img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}